
		#frame {/*----------图片轮播相框容器----------*/
			position: absolute; /*--绝对定位，方便子元素的定位*/
			right:200px;
			width: 1000px;
			height: 600px;
			overflow: hidden;/*--相框作用，只显示一个图片---*/
			border-radius:50px;
		}
		#photos img {
			float: left;
			width:1000px;
			height:600px;
		}
		#photos {/*---设置总的图片宽度--通过位移来达到轮播效果----*/
			position: absolute;z-index:9px;
			width: calc(1000px * 3);/*---修改图片数量的话需要修改下面的动画参数*/
		}
		.play{
			animation: ma 20s ease-out infinite alternate;/**/
			 border-radius:50px;
		}
		@keyframes ma {/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
			0%,20% {		margin-left: 0px;		}
			25%,40% {		margin-left: -1000px;	}
			45%,60% {		margin-left: -2000px;	}
		}
		.num{
			position:absolute;z-index:10;
			display:inline-block;
			right:450px;top:565px;
			border-radius:100%;
			background:rgba(0,0,0,0.6);
			width:25px;height:25px;
			line-height:25px;
			cursor:pointer;
			text-align:center;
			opacity:0.8;
		}
		.num:hover{background:rgba(255,255,255,0.5);}
		.num:hover,#photos:hover{animation-play-state:paused;}
		.num:nth-child(2){margin-right:30px}
		.num:nth-child(3){margin-right:60px}
		#a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}
		#a2:hover ~ #photos{animation: ma2 .5s ease-out forwards;}
		#a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}
		@keyframes ma1 {0%{margin-left:-4000px;}100%{margin-left:-0px;}	}
		@keyframes ma2 {0%{margin-left:-4000px;}100%{margin-left:-1000px;}	}
		@keyframes ma3 {100%{margin-left:-2000px;}	}
	
